<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My First Website</title>
    <link rel="stylesheet" href="stylesheets/style.css">
  </head>
  <body>
    <div class="navbar">
      <button>Shitty Navbar</button>
    </div>
    <%- body -%> <!-- <=== note this line -->
  </body>
</html>
